body{
    font-family: "Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: 13px;
    color: #333;
    background: #f2f2f2;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration:none;
    color:#0000FF;
}
a:link{
    color: #333;
}
a:visited{
    color: #333;
}
a:active{
    color: #333;
    text-decoration: none;
}
.kp-head-outside{
    width: 100%;
    height: 100px;
    margin: 0;
    background: #ffffff;
}
.kp-head{
    width: 990px;
    height: 100px;
    margin: 0 auto 0 auto;
    background: #ffffff;
}
.kp-head .left{
    height: 100px;
    float: left;
    width: auto;
}
.kp-icon-deputy{
    width: 120px;
    height: 60px;
    background: url("../img/cp.png") no-repeat center;
    background-size: 100%;
    margin-top: 16px;
}
.kp-head .right{
    height: 100px;
    float: right;
    width: auto;
}
.kp-head .right ul li{
    float: left;
    color: gray;
    margin-top: 30px;
    width: auto;
    position: relative;
    height: 30px;
    line-height: 30px;
    margin-right: 50px;
    cursor: pointer;
}
.kp-head .right li:hover{
    color: #333;
    cursor: pointer;
}
.kp-head .right li:hover span{
    color: #333;
    font-weight: bold;
    cursor: pointer;
}
.kp-head .right .join-driver:hover i{
    left: -16px;
}
.kp-head .right .join-shipper:hover i{
    left: -16px;
}
.kp-head .right .help-use:hover i{
    left: -16px;
}
.kp-head .right .address:hover i{
    right: -20px;
}
.join-driver i{
    position: absolute;
    font-size: 14px;
    top: -2px;
    left: -20px;
    transition:left 0.5s;
    -moz-transition:left 0.5s; /* Firefox 4 */
    -webkit-transition:left 0.5s; /* Safari and Chrome */
    -o-transition:left 0.5s; /* Opera */
}
.join-shipper i{
    position: absolute;
    font-size: 16px;
    top: -2px;
    left: -20px;
    transition:left 0.5s;
    -moz-transition:left 0.5s; /* Firefox 4 */
    -webkit-transition:left 0.5s; /* Safari and Chrome */
    -o-transition:left 0.5s; /* Opera */
}
.help-use i{
    position: absolute;
    font-size: 16px;
    top: -2px;
    left: -20px;
    transition:left 0.2s;
    -moz-transition:left 0.2s; /* Firefox 4 */
    -webkit-transition:left 0.2s; /* Safari and Chrome */
    -o-transition:left 0.2s; /* Opera */
}
.address i{
    position: absolute;
    font-size: 16px;
    top: -2px;
    right: -24px;
    transition:right 0.2s;
    -moz-transition:right 0.2s; /* Firefox 4 */
    -webkit-transition:right 0.2s; /* Safari and Chrome */
    -o-transition:right 0.2s; /* Opera */
}

/* nav */
.kp-nav{
    width: 100%;
    height: 50px;
    background: -moz-linear-gradient(top, #4d4d4d 0%, #222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d4d4d), color-stop(100%,#222));
    background: -webkit-linear-gradient(top, #4d4d4d 0%,#222 100%);
    background: -o-linear-gradient(top, #4d4d4d 0%,#222 100%);
    background: -ms-linear-gradient(top, #4d4d4d 0%,#222 100%);
    background: linear-gradient(to bottom, #4d4d4d 0%,#222 100%);
    box-shadow: 0 3px 10px 0 #4d4d4d;
}
.kp-nav-center{
    width: 990px;
    margin: 0 auto 0 auto;
    height: 50px;
}
.kp-nav-center ul li{
    float: left;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: 50px;
    margin-right: 50px;
    line-height: 50px;
    cursor: pointer;
}
.kp-nav-center ul li:hover{
    box-shadow: inset 0 3px 10px 0 #080808;
    background: #222;
    border-radius: 8px;
    cursor: pointer;
}
.kp-search-address{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 240px;
    height: 50px;
    float: right;
}
.kp-search-address .input-search{
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 200;
    top: 0;
    left: 0;
    box-shadow: inset 0 3px 10px 0 #080808;
}
.kp-search-address-active{
    background: gray;

}
.kp-search-address input{
    width: 180px;
    height: 30px;
    border-radius: 4px;
    border: none;
    margin-top: 10px;

}
.kp-search-address i{
    position: absolute;
    right: 10px;
    top: 14px;
    cursor: pointer;
    color: #ffffff;
    margin-left: 5px;
    font-size: 20px;
}
.input-search-hidden{
    width: 100%;
    height: auto;
    position: absolute;
    top: 40px;
    z-index: 100;
}
.input-search-hidden .chose-road{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background: #9d9d9d;
}
/* road */
.kp-road-title{
    width: 990px;
    height: 60px;
    line-height: 60px;
    margin: 10px auto 0 auto;
    position: relative;
}
.kp-road-title .title-sun{
    float: left;
    width: 140px;
    height: 60px;
    color: gray;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-align: center;

}
.kp-road-title .title-sun:hover{
    color: #333;
}
.kp-road-title:before{
    content: '';
    position: absolute;
    width: 840px;
    height: 6px;
    border-radius: 3px;
    background: gray;
    left: 0;
    bottom: 0;
}
.title-hover{
    position: absolute;
    width: 140px;
    height: 6px;
    border-radius: 3px;
    background: #333;
    left: 0;
    bottom: 0;
    transition:left 0.5s;
    -moz-transition:left 0.5s; /* Firefox 4 */
    -webkit-transition:left 0.5s; /* Safari and Chrome */
    -o-transition:left 0.5s; /* Opera */
}
.kp-body{
    width: 990px;
    margin: 10px auto 0 auto;
}
.kp-road{
    width: 700px;
    min-height: 160px;
    float: left;
}
.kp-road .sun{
    width: 100%;
    float: left;
    display: none;
}
.kp-road-garage table th{
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    background: #4d4d4d !important;
    color: #ffffff;
}
.kp-road-garage table td{
    text-align: center;
    padding: 5px;
}
.kp-bottom-more{
    width: 680px;
    float: left;
    margin-bottom: 30px;
    border-top: dashed 1px gray;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.kp-road .sun .car-list{
    width: 200px;
    height: 260px;
    margin-right: 30px;
    background: #ffffff;
    padding-top: 20px;
    float: left;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    -moz-transition: all 0.5s; /* Firefox 4 */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
}
.kp-road .sun .car-list .car-list-img{
    width: 160px;
    height: 160px;
    margin-left: 20px;
}
.kp-road .sun .car-list .car-list-img img{
    width: 100%;
    height: 100%;
}
.kp-road .sun .car-list:hover{
    box-shadow: 0 0 6px #4d4d4d;
}
.kp-road .sun .car-list p{
    margin-top: 10px;
    color: gray;
}

.kp-road .sun .car-list .car-list-bottom{
    width: 160px;
    margin-left: 20px;
    position: relative;
}
.car-list .car-list-bottom i{
    position: absolute;
    left: 0;
    top: 6px;
    transition: left 0.5s;
}
.hover-car .car-list-bottom i{
    position: absolute;
    left: 40px !important;
    top: 6px;
    transition: left 0.5s;
}
.kp-road .sun .car-list .car-list-bottom button{
    width: 80px;
    height: 30px;
    border: none;
    color: #ffffff;
    background: #4d4d4d;
    border-radius: 4px;
    position: absolute;
    right: 0;
}
.kp-road .kp-road-zero{
    display: block;
}
.kp-list-mode-one{
    width: 680px;
    padding: 10px;
    cursor: pointer;
    float: left;
    border-radius: 10px;
    margin-bottom: 16px;
    background: #ffffff;
    transition:box-shadow 0.5s;
}
.kp-list-mode-one:hover{
    box-shadow: 2px 2px 6px 0 #4d4d4d;
}
.kp-list-mode-one .mode-one-img{
    width: 180px;
    height: 160px;
    float: left;
}
.kp-list-mode-one .mode-one-img img{
    width: 100%;
    height: 160px;
}
.kp-list-mode-one .head{
    float: left;
    font-size: 16px;
    font-weight: bold;
    width: 460px;
    margin-left: 20px;
}
.kp-list-mode-one .head:hover{
    text-decoration: underline;
}
.kp-list-mode-one .middle{
    float: left;
    font-size: 12px;
    font-weight: bold;
    width: 460px;
    color: gray;
    margin-left: 20px;
    margin-top: 10px;
}
.kp-list-mode-one .middle p{
    line-height: 14px;
}
.kp-list-mode-one .bottom{
    float: left;
    color: gray;
    font-size: 12px;
    font-weight: bold;
    width: 460px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}
.kp-list-mode-one .bottom p{
    line-height: 14px;
}
.kp-list-mode-one .bottom .left{
    width: 115px;
    height: auto;
    text-align: center;
    float: left;
}
.kp-list-mode-one .bottom .left-m{
    width: 115px;
    height: auto;
    text-align: center;
    float: left;
}
.kp-list-mode-one .bottom .right-m{
    width: 115px;
    height: auto;
    text-align: center;
    float: left;
}
.kp-list-mode-one .bottom .right{
    width: 115px;
    height: auto;
    text-align: center;
    float: left;
}
.mode-two .bottom{
    margin-top: 30px;
}
.mode-two .bottom p{
    line-height: 30px;
}
.mode-two .bottom .right{
    width: 230px;
    height: auto;
    text-align: center;
    float: left;
}
.mode-two .bottom .right-m{
    width: 230px;
    height: auto;
    text-align: center;
    float: left;
}

.kp-news{
    float: left;
    width: 270px;
    margin-left: 20px;
    min-height: 400px;
}
.kp-news-head{
    width: 270px;
    height: 40px;
    margin-bottom: 20px;
}
.kp-news-head .right{
    width: auto;
    height: 40px;
    color: #eb1d21;
    margin-top: 20px;
    float: right;
    font-size: 14px;
    cursor: pointer;
}
.kp-news-head .left{
    float: left;
    width: 100px;
    height: 40px;
    background: #eb1d21;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
}
.kp-news ul li{
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    line-height: 30px;
    color: gray;
    overflow: hidden;
}
.kp-news a:hover{
    color: gray;
    cursor: pointer;
    text-decoration: gray;
}
/* foot */
.kp-foot{
    width: 100%;
    clear: both;
    box-shadow: 1px 0 20px gray;
    padding-top: 20px;
}
.kp-foot a{
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
.kp-foot-middle{
    width: 990px;
    min-height: 300px;
    margin: 0 auto 0 auto;
    position: relative;
}
.kp-foot-middle .right{
    text-align: center;
    width: 400px;
    height: 200px;
    position: absolute;
    font-weight: bold;
    right: 0;
}
.kp-foot-middle button{
    padding: 10px;
    background: #2d6ca2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}
.kp-foot-middle .kp-foot-middle-list{
    width: auto;
    float: left;
    margin-right: 80px;
    color: gray;
    font-size: 12px;
}
.kp-foot-middle .kp-foot-middle-list .head{
    font-size: 16px !important;
    font-weight: bold !important;
    color: #333;
}

.kp-foot-middle .bottom{
    width: 990px;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-top: 30px;
    color: gray;
    border-top: 1px dashed #333;
    border-bottom: 1px dashed #333;
}

.kp-foot-middle .bottom .left{
    float: left;
}

.kp-foot-middle .bottom .right{
    float: right;
    font-size: 12px;
    height: 0;
    width: auto;
}
.kp-foot-middle .bottom .head{
    color: #333;
    font-weight: bold;
}
.kp-foot-middle .bottom span{
    margin-right: 30px;
}
.kp-foot-middle .bottom-b{
    width: 990px;
    float: left;
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.kp-foot-middle .bottom-b .kp-believe-img{
    width: 160px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -180px;
    background: url("../img/bilieveweb.png") no-repeat center;
    background-size: 100%
}
.kp-foot-middle .bottom-b .kp-cup-img{
    width: 160px;
    height: 60px;
    position: absolute;
    right: 50%;
    margin-right: -180px;
    background: url("../img/cup.png") no-repeat center;
    background-size: 100%
}
.kp-foot-middle .bottom-b p{
    margin-top: 70px;
}
